.services-div {
  height: 85vh;
  width: 100vw;
  background-color: rgb(49, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  font-size: 2vh;
}
.services {
  height: 90%;
  width: 90%;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.service {
  height: 40%;
  width: 28%;
  background-color: rgb(224, 224, 224);
  overflow-wrap: normal;
  gap: 1%;
  margin: 1.5%;
  border-radius: 2%;
}
.service:hover {
  scale: 1.05;
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
#Bus {
  height: 100%;
  width: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Bus-logo.svg/1024px-Bus-logo.svg.png");
}
#Flights {
  height: 100%;
  width: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://www.pngitem.com/pimgs/m/94-949900_flight-airplane-logo-png-transparent-png.png");
}
#Movies {
  height: 100%;
  width: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://i.pinimg.com/originals/85/46/82/854682f52061fc6341ff3d4de67a2017.jpg");
}
#Hotels {
  height: 100%;
  width: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://www.freepnglogos.com/uploads/hotel-logo-png/hotel-icon-download-28.png");
}
#Train {
  height: 100%;
  width: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://cdn-icons-png.flaticon.com/512/3/3843.png");
}
#Concerts {
  height: 100%;
  width: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://png.pngtree.com/png-clipart/20190223/ourmid/pngtree-silhouette-elements-of-characters-in-black-concert-png-image_710918.jpg");
}
